div{
    margin: 5% auto;
}
.recuadro1{
    height: 250px;
    width: 200px;
    padding: 5px 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    justify-content: left;
    box-shadow: 0px 0px 25px lime,inset 0px 0px 25px red;
}