body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    margin: 10px;
    padding: 15px;
    width: 300px;
    height: 140px;
    background-color: yellow;
    border: 20px solid rgb(228, 228, 228);
    background-image: url(../imagenes/casa.png);
    background-repeat: no-repeat;
}
.recuadro1{
    background-origin: border-box;
}
.recuadro2{
    background-origin: padding-box;
}
.recuadro3{
    background-origin: content-box;
}