p[class="especial"]{
    font-size: 1.5em;
    line-height: 2em;
    font-family: 'Verdana', 'Arial', 'sans-serif';
    background-color: lightgrey;
    text-align: justify;
    text-indent: 60px;
}
p[class="especial"]::first-line{
    background-color: lightblue;
    font-variant: small-caps;
    color:blue;
    
}
p[class="especial"]::first-letter{
    font-size: 2em;
    color: blue;
    font-family: serif;
}
p[class="especial"] strong{
    font-weight: normal;
    font-style: italic;
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: #FF6;
}
p[class="especial"] em{
    font-weight: bold;
    font-style: normal;
}