/* ===============================================================
No modificar estos estilos
================================================================== */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
li { 
    list-style: none; 
}
body {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
header, nav, aside, footer, section, .contenedor {
    border: 2px solid #777;
    
}
header{
    display:flex;
    justify-content: space-between;
    
}
main{
    display:flex;
}
.lateral1 { 
    width: 20%; 
}
.contenedor { 
    display:flex;
    width: 80%; 
}
section { 
    width: 80%; 
}
.lateral2 { 
    width: 20%; 
}
footer{
    display:flex;
    justify-content: space-between;
}
nav li { 
    display: inline; 
}
section article img { 
    float: left; 
    width: 100px;
}
/* ================================================================
Añade tus estilos aqui
================================================================== */
/*PARTE 1 */
header{
    padding: 1em;
}
nav{
    padding: .5em;
    margin-bottom: 0.5em;
}
footer{
    padding: .5em;
    margin-top: 1em;
}
.noticias, .publicidad, article{
    padding: 0.5em;
}
.noticias, article{
    margin-bottom: 1em;
}
img{
    margin: .5em;
}
.publicidad>p{
    margin-top: 1em;
}
label[for=busqueda]{
    margin-right: 1em;
}

/*PARTE 2 */
header, nav, aside, footer, section, .contenedor{
    border: none;
}
nav{
    border-bottom: 1px solid #004C99;
}
.noticias{
    border: 1px solid #C5C5C5;
}
.publicidad{
    border: 1px dashed #CC6600;
}
.lateral2{
    border: 1px solid #CC6600;
}
footer{
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}

/*PARTE 3 */
.noticias, footer{
    background-color: #CCCCCC;
}
.publicidad{
    background-color: #FFFF33;
}
.lateral2 h2{
    background-color: #DB905C;
    padding: 0.2em;
}
nav{
    background-color: darkblue;
}
header h1{
    background-image: url(../imagenes/logo.gif);
    line-height: 1.2em;
    visibility: hidden;
}
/*PARTE 4*/
body{
    color: black;
    font-family: Arial;
    font-size: 0.9em;
    line-height: 1.4;
}
section article h2{
    color: #CC6600;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}

.menu_principal li a{
    margin-right: 1em;
    color: white;
    font-size: 1.3em;
}
.lateral1{
    font-size: 0.9em;
}
.fecha{
    display: block;
    color: #999;
    text-align: right;
}
.noticias h2 a{
    color: #003366;
}
.publicidad{
    color: #555;
}
.publicidad a{
    color: #CC6600;
}
section article a{
    color: #CC6600;
}
section article p{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.lateral2 h2{
    color: #FFF;
    font-size: 1em;
}
footer{
    color: #555;
    font-size: 0.75em;
}
section article p{
    text-align: justify;
    text-indent: 2em;
    line-height: 1.8em;
}
p::first-letter{
    font-size: 2em;
    font-family: 'Times New Roman';
}
section article h2{
    word-spacing: .3em;
}
.menu_principal a{
    letter-spacing: 0.3em;
}