body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cuadro1{
    width:600px;
    height: 400px;
    background: url(../imagenes/logo1.png) top left no-repeat,  url(../imagenes/logo1.png) center no-repeat, url(../imagenes/madera1.png) bottom right  no-repeat;
    background-size: 15%, 50%, 100%;
}