.recuadro1{
    column-count: 3;
    column-rule-color: red;
    column-rule-style: solid;
    border-radius: 15px;
    background-color: lightgray;
    padding: 1%;
    margin:2%;
}
.recuadro2{
    column-count: 3;
    column-rule-color: red;
    column-rule-style: dotted;
    border-radius: 15px;
    background-color: lightgray;
    padding: 1%;
    margin:2%;
}
.recuadro3{
    column-count: 3;
    column-rule-color: blue;
    column-rule-style: dashed;
    border-radius: 15px;
    background-color: lightgray;
    padding: 1%;
    margin:2%;
}