.contenedor{
    text-align: center;
    position: relative;
}
.recuadro1{
    width: 200px; 
    margin: 10px; 
    padding: 10px;
    border-radius: 8% 10% 10% 8%;
    display: inline-block;
    background-color: lightgrey;
    text-align: left;
    }
.recuadro2{
   width: 200px; 
   margin: 10px; 
   padding: 10px;
   display: inline-block;
   background-color: olive;
   border-radius: 8% 15% 15% 8%;
   text-align: left;
}