body{
    background: url(../imagenes/paper.gif);
}
h1{
    text-align: center;
    width: 100%;
    color: grey;
}
.contenedor{
    margin: auto;
    margin-top: 50px;
    background-color: lightcyan;
    border: 10px groove lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    flex-wrap: wrap;
}
img{
    border: 3px solid white;
}
.contenedor>div{
    width: 215px;
    height: 180px;
    background-color: lightblue;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
p{
    color: white;
    font-family: 'Trebuchet MS';
    font-size: .7em;
    text-align: center;
}